body {
	background-color: #FEF284;
}
header {
	background-color: #0CFFE1;
	color: #483C6C;
	font-size: 30px;
	font-family: Georgia, Palatino, 'Century Schoolbook', serif;
	margin: 5px;
}
section {
	background-color:#FEF284;
	max-width: 800px;
	padding: 5px;
}
article {
	border-width: 3px;
	border-color: #483C6C;
	border-style: solid;
	margin: 5px;
	border-radius: 10px;
}
h1 {
	text-align: center;
	color: #483C6C;
}
h2 {
	text-align: left;
	color: #483C6C;
}
h3 {
	text-align: left;
	color: #483C6C;
}
p {
    font-size: 16px;
    color: #483C6C;
}
table {
	color: #483C6C;
	text-decoration-color: #483C6C;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: auto;
	background-color: #483C6C;
	font-family: arial, sans-serif;
}
nav li {
	float: left;
	font-size: 15px;
}
nav li a {
	color:white;
	text-decoration: none;
	display: block;
	padding: 8px 16px;
	background-color:#483C6C;
}

.centered{
	margin:auto;
	width: 50%;
	display: block;
	height: 25%;
}
#Emperor{
	color: red;
	font-style: italic;
}


